= render 'shared/users_header2'
- if flash[:credit_create_error]
  .delete-success-flash
    .delete-success-flash__text
      = flash[:credit_create_error]
    .delete-success-flash__close.close-btn
      ×

%main.credit
  .credit__info
    .credit__info__top
      クレジットカード情報入力
    .credit__info__content
      .credit__info__content__form
        .credit__info__content__form__field
          = form_with url: user_creditcards_path(user_id: current_user.id), local: true do |f|
            %p
              カード番号
              %span.span-red 必須
            = f.text_field :number, maxlength: "16", placeholder: "半角数字のみ", class: "credit__info__content__form__field__input"
            .credit__info__content__form__field__img
              %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1516044782", width: "49"}/
              %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?1516044782", width: "34"}/
              %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?1516044782", width: "30"}/
              %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?1516044782", width: "32"}/
              %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?1516044782", width: "21"}/
              %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?1516044782", width: "32"}/
              %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?1516044782", width: "32"}/
            .credit__info__content__form__field__date
              %p
                有効期限
                %span.span-red 必須
              .credit__info__content__form__field__date__select__m
                = f.select(:exp_month, Creditcard::months, {prompt: "--"}, {class: ""})
                .icon__arrow__bottom
                  %i.fa.fa-angle-down
                %span.m 月
              .credit__info__content__form__field__date__select__y
                = f.select(:exp_year, Creditcard::years, {prompt: "--"}, {class: ""})
                .icon__arrow__bottom
                  %i.fa.fa-angle-down
                %span.y 年
            .credit__info__content__form__field__num
              %p
                セキュリティーコード
                %span.span-red 必須
              = f.text_field :cvc, placeholder: "カード背面４桁もしくは３桁の番号",  class: "credit__info__content__form__field__num__form"
              .credit__info__content__form__field__num__sentence-blue
                カード裏側の番号とは？
            %button.submit{type: "submit"} 次へ進む
= render 'shared/second_footer'
