= render 'shared/header'
%nav.bread-crumbs
  %ul.bread-crumbs__items
    %li.bread-crumbs__items__value{itemscope: "", itemtype: ""}
      = link_to "" , class: "bread-crumbs__items__value__link" do
        %span{itemprop: "title"}
          - breadcrumb :logout_profile
      %li.bread-crumbs__items__value{itemscope: "", itemtype: ""}
        %span{itemprop: "title"}
          = breadcrumbs separator: " #{content_tag(:i, '', class: 'fa fa-angle-right')} "
%main.logout
  = render 'shared/mypage-side-nav'
  .logout__content
    = link_to destroy_user_session_path, method: :delete, class: "logout__content__link" do
      .logout__content__link__btn
        ログアウト
= render 'shared/footer'
