%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :nickname
    %br/
    = f.text_field :nickname, autofocus: true
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name, autofocus: true
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true
  .field
    = f.label :last_name_kana
    %br/
    = f.text_field :last_name_kana, autofocus: true
  .field
    = f.label :first_name_kana
    %br/
    = f.text_field :first_name_kana, autofocus: true
  .field
    = f.label :birth_y
    %br/
    = f.select :birth_y, [1, 2, 3], prompt: "--"
  .field
    = f.label :birth_m
    %br/
    = f.select :birth_m, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], prompt: "--"
  .field
    = f.label :birth_d
    %br/
    = f.select :birth_d, [1, 2, 3], prompt: "--"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
