= render 'shared/header'
%main.mypage
  .mypage__content
    .mypage__content__user
      .mypage__content__user__icon
        = link_to "#", class: "mypage__content__user__icon__link" do
          .mypage__content__user__icon__link__img
            = image_tag 'beutiful.jpg', class: "mypage__content__user__icon__link__img__in"
          .mypage__content__user__icon__link__name
            %h2.bold toriisogi
          .mypage__content__user__icon__link__num
            .mypage__content__user__icon__link__num__review
              評価
              %span.mypage__content__user__icon__link__num__review__count
                21
            .mypage__content__user__icon__link__num__exhibits
              出品数
              %span.mypage__content__user__icon__link__num__exhibits__count
                15
    .mypage__content__announce
      %ul.mypage__content__announce__tabs
        %li.mypage__content__announce__tabs__notification
          %h3
            %a{"data-toggle" => "tab", :href => "#mypage-tab-notification"}
              お知らせ
        %li.mypage__content__announce__tabs__todo
          %h3
            %a{"data-toggle" => "tab", :href => "#mypage-tab-notification"}
              やることリスト
      .mypage__content__announce__details
        %ul.mypage__content__announce__details__notification
          %li
            =link_to "#", class: "mypage__content__announce__details__notification__link" do
              %figure
                =image_tag('beutiful.jpg', size: "48x48")
              .mypage__content__announce__details__notification__link__body
                .mypage-item-text フェレットさん、他4名が「［裁断済］いちばんよくわかるW...」にいいね！しました
                %time
                  %i.icon-time
                  %span 2 日前
              = fa_icon "angle-right"
          %li.mypage-go-list
            %a{:href => "/jp/mypage/notification/"} 一覧を見る
        %ul.mypage__content__announce__details__todo
    .mypage__content__trad
      .mypage__content__trad__during
      .mypage__content__trad__past
  = render 'users/mypage-side-nav'
