%section.items-box
  =link_to item_path(id: item.id)  do
    %figure.items-box__photo
      = image_tag "#{item.item_photos.first.image}", height: "220", width: "213"
    .items-box-body
      .items-box-body__name
        = item.name
      .items-box-body__num
        .items-box-body__num__price
          = '¥' + "#{number_with_delimiter(item.price)}"
        .items-box-body__num__likes
          %i.far.fa-heart
          %span 1
        .items-box-body__num__tax (税込)
