- @users_item.each do |item|
  .parent-items-in-user-profile__items-box-container__items-box-content__box
    = link_to "#" do
      .parent-items-in-user-profile__items-box-container__items-box-content__box__photo
        = image_tag "#{item.item_photos.first.image}", size: "220x220"
      .parent-items-in-user-profile__items-box-container__items-box-content__box__body
        %h3.parent-items-in-user-profile__items-box-container__items-box-content__box__body-text
          = item.name
        .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb
          .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top
            .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__price
              ¥
              = item.price
            .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right
              =fa_icon  'heart', class: 'parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__heart'
              .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__like-count 24
          %p.parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb__tax (税込)
