- @users_item.first(6).each do |item|
  .parent-items-in-user-profile__items-box-container__items-box-content__box
    = link_to items_path(id: item.id) do
      .parent-items-in-user-profile__items-box-container__items-box-content__box__photo
        = image_tag "#{item.item_photos.first.image}", size: "220x220"
      .parent-items-in-user-profile__items-box-container__items-box-content__box__body
        %h3.parent-items-in-user-profile__items-box-container__items-box-content__box__body-text
          = item.name
        .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb
          .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top
            .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__price
              ¥
              = number_with_delimiter("#{item.price}")
            .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right
              %i.far.fa-heart.parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__heart
              - if item.favorite_items.present?
                %span.parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__like-count
                  = item.favorite_items.length
              - else
                %span.parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__like-count
                  0
          %p.parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb__tax (税込)
