= render 'shared/second_header'
%main.single__main
  %section.l__single__container.buy__item__container
    .sell__container
      %div{ 'data-reactroot': ""}
        .sell__container--inner
          %h2.l__single__head 商品の情報を入力
          = form_with model: @item, html: {class: 'sell__form'} do |f|
            .sell__upload__box
              %h3.sell__upload__head
                出品画像
                %span.form__require 必須
              %p 最大10枚までアップロードできます
              .sell__dropbox__container.state__image__number-4
                .sell__upload__items__container
                  .sell__upload__items.have__item-0
                    %ul
                      %li.sell__upload__item
                        %figure.sell__upload__figure.landscape
                          %img{ src: "http://image.jp", alt: "" }
                        .sell__upload__button
                          = link_to "#", class: 'sell__upload__edit' do
                            編集
                          = link_to "#" do
                            削除
                      %li.sell__upload__item
                        %figure.sell__upload__figure.landscape
                          %img{ src: "http://image.jp", alt: "" }
                        .sell__upload__button
                          = link_to "#", class: 'sell__upload__edit' do
                            編集
                          = link_to "#" do
                            削除
                .sell__upload__drop-box.have__item-0
                  = f.fields_for :item_photos, html: {class: 'sell__upload__drop-file'} do |i|
                    = i.label :image do
                      = i.file_field :image
                  %pre.visible__pc
                    ドラッグアンドドロップ
                    またはクリックしてファイルをアップロード
            .sell__content
              .form__group
                %label
                = f.label :name do
                  商品名&emsp;&emsp;
                  %span.form__require 必須
                %div
                  = f.text_field :name, placeholder: "商品名(必須40文字まで)", class: "input__default"
              .form__group
                = f.label :comment do
                  商品の説明&emsp;&emsp;
                  %span.form__require 必須
                = f.text_area :comment, rows: '5', placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "textarea__default"
            .sell__content.choice__box
              %h3.sell__sub--head
                商品の詳細
              .sell__form__box
                .form__group
                  = f.label :category_id do
                    カテゴリー
                    %span.form__require 必須
                  .select__wrap
                    = f.select :category_id, Item.all, {prompt: "---"}, class: "select__default"
                    / = f.collection_select :category_id, Category.all, :id, name, prompt: "---", class: "select__default"
                    / 本来はcategoryテーブルから情報を引張てくるようにするのですが、まだcategoryテーブルができていないため、f.selectで仮置きしています
                    .icon__arrow__bottom
                      %i.fas.fa-angle-down
                .form__group.form__suggest__container
                  = f.label :barand_id do
                    ブランド
                    %span.form__any 任意
                  .select__wrap
                    = f.select :brand_id, Item.all, {prompt: "---"}, class: "select__default"
                    %div
                      %ul.sell__brand__suggest.form__suggest__list
                        %li
                .form__group
                  = f.label :condition do
                    商品の状態
                    %span.form__require 必須
                  .select__wrap
                    = f.select :condition, Item.conditions_i18n.invert, {prompt: "---"}, class: 'select__default'
                    .icon__arrow__bottom
                      %i.fas.fa-angle-down
            .sell__content.choice__box
              %h3.sell__sub--head
                配送について
                = link_to "#", target: '_blank', class: 'form__question' do
                  ?
              .sell__form__box
                .form__group
                  = f.label :shipping_fee do
                    配送料の負担
                    %span.form__require 必須
                  .select__wrap
                    = f.select :shipping_fee, Item.shipping_fees_i18n.invert, {prompt: "---"}, class: 'select__default'
                    .icon__arrow__bottom
                      %i.fas.fa-angle-down
                .form__group
                  = f.label :prefecture_id do
                    発送元の地域
                    %span.form__require 必須
                  .select__wrap
                    = f.collection_select :prefecture_id, Prefecture.all, :id, :name,{ prompt: "---" }, class: "select__default"
                    / = f.select :prefecture, Item.prefectures_i18n.invert, {prompt: "---"}, class: 'select__default'
                    .icon__arrow__bottom
                      %i.fas.fa-angle-down
                .form__group
                  = f.label :days_to_ship do
                    発送までの日数
                    %span.form__require 必須
                  .select__wrap
                    = f.select :days_to_ship, Item.days_to_ships_i18n.invert, {prompt: "---"}, class: 'select__default'
                    .icon__arrow__bottom
                      %i.fas.fa-angle-down
            .sell__content.choice__box
              %h3.sell__sub--head
                販売価格(300〜9,999,999)
                = link_to "#", target: '_blank', class: 'form__question' do
                  ?
              .sell__form__box
                %ul.sell__price
                  %li.form__group
                    .price__form
                      = f.label :price, class: "label__left" do
                        価格
                        %span.form__require 必須
                      .l__right.sell__price__input
                        ¥
                        %div
                          = f.text_field :price, placeholder: "例) 300" ,class: "input__default"
                  %li.profit__group
                    .label__left
                      販売手数料 (10%)
                    .label__right
                      \-
                  %li.profit__group.bold
                    .label__left
                      販売利益
                    .label__right
                      \-
            .modal{ role: 'dialog', tabindex: "-1"}
              .modal--inner
            .sell__content.sell__btn__box
              %div
                %p
                  = link_to "#", target: '_blank' do
                    禁止されている出品
                  = link_to "#", target: '_blank' do
                    行為
                  を必ずご確認ください
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to "#", target: '_blank' do
                    偽ブランドの販売
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  = link_to "#", target: '_blank' do
                    加盟店規約
                  に同意したことになります。
              = f.submit "出品する", class: "btn__default btn--red"
              = link_to "#", class: 'btn__default btn--gray' do
                もどる
        .overlay
= render 'shared/second_footer'
