.parent
  .parent-item-container

    .parent-item-container__item-name 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ

    .parent-item-container__item--main-content
      .parent-item-container__item--main-content__item-photo
        .parent-item-container__item--main-content__item-photo__main
        .parent-item-container__item--main-content__item-photo__sub
          .parent-item-container__item--main-content__item-photo__sub-containts
          .parent-item-container__item--main-content__item-photo__sub-containts
          .parent-item-container__item--main-content__item-photo__sub-containts
          .parent-item-container__item--main-content__item-photo__sub-containts

      %table.item-container__item-detail
        %tr.item-container__item-detail__tr
          %th 出品者
          %td
            =link_to "#", class: "tdn" do
              name
            .evaluate
              .evaluate__good
                =link_to "#", class: "user-ratings" do
                  =icon 'fas','laugh'
                  169
              .evaluate__soso
                =link_to "#", class: "user-ratings" do
                  =icon 'fas','meh'
                  5
              .evaluate__bad
                =link_to "#", class: "user-ratings" do
                  =icon 'fas','frown'
                  1

        %tr
          %th カテゴリー
          %td
            =link_to "#", class: "tdn" do
              .category-height
                レディース<br>
            =link_to "#", class: "tdn" do
              .category-height
                =fa_icon 'angle-right'
                バッグ<br>
            =link_to "#", class: "tdn" do
              .category-height
                =fa_icon 'angle-right'
                ショルダーバッグ

        %tr
          %th ブランド
          %td コーチ
        %tr
          %th 商品の状態
          %td めっちゃキレイ
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td 大阪府
        %tr
          %th 発送日の目安
          %td 1~2日で発送

    .parent-item-container__item-price-container
      %span.item-price ¥3,380
      %span.item-tax (税込み)
      %span.item-shipping-fee 送料込み

    .parent-item-container__item-buy-btn 購入画面に進む

    .parent-item-container__item-description
      %p ■商品ご覧頂き、誠にありがとうございます。
      ※今だけ、フォロワーになって下さった方に、300円のお値引きサービス中！！
      %br
      %br 私の商品検索は、
      #Boon・バッグ
      検索してください。
      %br
      %br
      質問がありましたらコメントでよろしくお願いします！
      %br
      ■ 商品説明 ■
      %br
      まずはプロフを確認してください☆
      %br
      %br
      ■ 商品詳細 ■
      シンプルな落ち着いたお色味でどんな場面にも合い、
      どんな服にも合わせやすいお鞄です。使用感有！角擦れはございませんが
      多少の汚れはあります。内側はとても綺麗です☆
      使わなくなったのでどなたか使っていただける方お願いします。
      製造番号  H2K-9294
      %br
      %br
      【ブランド】
      COACH  コーチ
      %br
      %br
      【商品名】
      コーチ大き目シンプル
      %br
      %br
      【仕様】
      外ポケット１  内ポケット４
      %br
      %br
      【サイズ】
      %br 縦：32
      %br 横：31
      %br 幅：7
      %br 紐：130 多少調節可能
      %br ＊他にも数多くの商品を出品しているので、ぜひご覧ください。
      %br ＊複数購入、お取り置き(５日まで)もできるので、お気軽にお声がけくださいませ。
      %br ＊中古品になりますので、予めご理解いただきますよう、お願い致します^_^
      %br ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。
      、お願い致します^_^
      %br ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。
      %br #シンプル #かわいい #大き目 #かばん #バッグ

    .parent-item-container__various-btn
      .parent-item-container__various-btn__left
        %button.item-container__various-btn__left__likes
          %i.fa.fa-heart-o
          %span いいね!
          %span 6
        %button.item-container__various-btn__left__report
          %span △
          %span 不適切な商品の報告
      .parent-item-container__various-btn__safety
        =link_to "#", class: "item-container__various-btn__safety__link" do
          =fa_icon 'lock', text: 'あんしん・あんぜんへの取り組み', class:"item-container__various-btn__safety__link-contents"

  .parent-comment-container
    = render partial: "comment"

    %form.parent-comment-container__message-form{action: "#", method: "POST"}
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %input{name: "item_id", type: "hidden"}
      %textarea{type: "text name=", class: "textarea"}
      %button.parent-comment-container__parent-comment-submit-button{type: "submit"}
        %span コメントする

  .parent-nav-item-link
    .parent-nav-item-link-prev
      =link_to "#", class: "angle-left" do
        =fa_icon "angle-left"
        ディズニーヴィランズ 2個セット
    .parent-nav-item-link-next
      =link_to "#", class: "angle-right" do
        バーにかかってきた電話/東 直己
        =fa_icon "angle-right"

  .parent-social-media-container
    .parent-social-media-container__box
      .parent-social-media-container__box__icon__f
        =fa_icon 'facebook-official'
      .parent-social-media-container__box__icon__t
        =fa_icon 'twitter-square', class: 'social-media-container__box__icon__t-twitter'
      .parent-social-media-container__box__icon__l
        =icon 'fab', 'line', class: '.social-media-container__box__icon__l-line'
      .parent-social-media-container__box__icon__p
        =fa_icon 'pinterest'

  .parent-items-in-user-profile
    .parent-items-in-user-profile__items-box-container
      %h2.parent-items-in-user-profile__items-box-container__head
        =link_to "#", class:"parent-items-in-user-profile__items-box-container__head__name" do
          namikoさんのその他の出品
      .parent-items-in-user-profile__items-box-container__items-box-content
        .parent-items-in-user-profile__items-box-container__items-box-content__box
          .parent-items-in-user-profile__items-box-container__items-box-content__box__photo
            = link_to image_tag('united1.jpg', size: "220x220"), '#'
          .parent-items-in-user-profile__items-box-container__items-box-content__box__body
            %h3.parent-items-in-user-profile__items-box-container__items-box-content__box__body-text ユナイテッド・アローズ
            .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb
              .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top
                .items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__price ¥18,000
                .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right
                  =icon 'far', 'heart', class: 'parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__heart'
                  .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__like-count 24
              %p.parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb__tax (税込み)

        .parent-items-in-user-profile__items-box-container__items-box-content__box
          .parent-items-in-user-profile__items-box-container__items-box-content__box__photo
            = link_to image_tag('h&m1.jpg', size: "220x220"), '#'
          .parent-items-in-user-profile__items-box-container__items-box-content__box__body
            %h3.parent-items-in-user-profile__items-box-container__items-box-content__box__body-text H&M ノーカラーコート
            .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb
              .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top
                .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__price ¥15,00
                .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right
                  =icon 'far', 'heart', class: 'parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__heart'
                  .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__like-count 8
              %p.parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb__tax (税込み)

        .parent-items-in-user-profile__items-box-container__items-box-content__box
          .parent-items-in-user-profile__items-box-container__items-box-content__box__photo
            = link_to image_tag('gucchi1.jpg', size: "220x220"), '#'
          .parent-items-in-user-profile__items-box-container__items-box-content__box__body
            %h3.parent-items-in-user-profile__items-box-container__items-box-content__box__body-text グッチ！レインブーツ!
            .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb
              .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top
                .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__price ¥20,000
                .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right
                  =icon 'far', 'heart', class: 'parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__heart'
                  .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__like-count 5
              %p.parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb__tax (税込み)

        .parent-items-in-user-profile__items-box-container__items-box-content__box
          .parent-items-in-user-profile__items-box-container__items-box-content__box__photo
            = link_to image_tag('gucchi1.jpg', size: "220x220"), '#'
          .parent-items-in-user-profile__items-box-container__items-box-content__box__body
            %h3.parent-items-in-user-profile__items-box-container__items-box-content__box__body-text グッチ！レインブーツ!
            .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb
              .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top
                .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__price ¥20,000
                .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right
                  =icon 'far', 'heart', class: 'parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__heart'
                  .parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb-top__right__like-count 5
              %p.parent-items-in-user-profile__items-box-container__items-box-content__box__body__tb__tax (税込み)
