= render 'shared/header'

%main.index-conteiner
  %section.newregi1901-main
  %section.pickup-container
    %h2.pickup-cotainer__head ピックアップカテゴリー
    %section.item-box-container
      %h3.item-box-container__title
        = link_to "https://www.mercari.com/jp/" do
          レディース 新着アイテム
      .item-box-content
        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)
      .view-all
        = link_to "https://www.mercari.com/jp/category/1/" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "https://www.mercari.com/jp/" do
          メンズ 新着アイテム
      .item-box-content
        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)
      .view-all
        = link_to "https://www.mercari.com/jp/category/1/" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "https://www.mercari.com/jp/" do
          ベビー・キッズ 新着アイテム
      .item-box-content
        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)
      .view-all
        = link_to "https://www.mercari.com/jp/category/1/" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "https://www.mercari.com/jp/" do
          コスメ・香水・美容 新着アイテム
      .item-box-content
        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)
      .view-all
        = link_to "https://www.mercari.com/jp/category/1/" do
          すべての商品を見る

  %section.pickup-container
    %h2.pickup-cotainer__head ブランドカテゴリー
    %section.item-box-container
      %h3.item-box-container__title
        = link_to "https://www.mercari.com/jp/" do
          シャネル 新着アイテム
      .item-box-content
        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)
      .view-all
        = link_to "https://www.mercari.com/jp/category/1/" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "https://www.mercari.com/jp/" do
          ルイヴィトン 新着アイテム
      .item-box-content
        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)
      .view-all
        = link_to "https://www.mercari.com/jp/category/1/" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "https://www.mercari.com/jp/" do
          シュープリーム 新着アイテム
      .item-box-content
        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)
      .view-all
        = link_to "https://www.mercari.com/jp/category/1/" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "https://www.mercari.com/jp/" do
          ナイキ 新着アイテム
      .item-box-content
        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)

        %section.items-box
          =link_to "https://item.mercari.com/jp/m77071076708/" do
            %figure.items-box__photo
              = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
            .items-box-body
              %h3.items-box-boby__name サンダル
              .items-box-body__num
                .items-box-body__num__price
                  ¥2,900
                .items-box-body__num__likes
                  = fa_icon "heart-o"
                  %span 1
                %p.items-box-body__tax (税込)
      .view-all
        = link_to "https://www.mercari.com/jp/category/1/" do
          すべての商品を見る

= render 'shared/footer'

= link_to "https://www.mercari.com/jp/sell/", class: "footer-sell-btn" do
  .btn-title 出品
  = fa_icon "camera"















